@model IEnumerable<AS_Core.DomainModel.InterestedAnimal>

<h2>Current animals you have interest in</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Animal.Name)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Animal.Name)
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Animal.ID">Remove interest</a>
                </td>
            </tr>
        }
    </tbody>
</table>