@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Barry's Shelter</h1>
    <p>Welcome to the management area of our shelter; various operations and administration can be done here.</p>
</div>
