@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welkom bij Dierenopvang Barry</h1>
    <p>Welkom in het management deel; Hier kunt u dieren en meer!</p>
</div>
